*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: arial,sans-serif;
   /* background-image: url('bg.svg');
    background-size: cover;*/
}

.nav-main{
   width: 100%;
   height: 8vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border-bottom: 1px solid #e2e2e2;
   backdrop-filter: saturate(180%) blur(20px);
   background-color: hsla(0,0%,100%,.7);
   position: fixed;
   overflow: hidden;
   z-index: 100;
}

.container-nav-main{
    display: flex;
    width: 90%;
    list-style: none;
    align-items: center;
}

.logo-nav-main{
    width: 60%;
}

.a-logo-nav-main{
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.menu-nav-main{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-menu-nav-main{
    border-radius: 8px;
    padding: 7px;
}

.a-menu-nav-main{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 7px;
}

.button-menu-nav-main:hover{
    background-color: #f7f7f7;
}

.a-menu-nav-main:hover{
    background-color: #f7f7f7;
    background: -webkit-linear-gradient(45deg, rgb(133, 236, 247), rgb(150, 59, 167));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding-top: 12vh;
    padding-bottom: 12vh;
    height: 90%;
}

.hero-left, .hero-right{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.title-hero-left{
    font-size: 55px;
    margin-bottom: 5vh;
    background: -webkit-linear-gradient(45deg, rgb(133, 236, 247), rgb(150, 59, 167));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-hero-left{
    font-size: 20px;
    letter-spacing: 0.1px;
}

.img-av{
    width: 80%;
}

.section-1, .section-2, .section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-1, .section-3{
    background-color: #f5f5f7;
}

.section-2{
    background-color: white;
}

.container-section-1, .container-section-2, .container-section-3{
    width: 90%;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.container-section-1{
    display: flex;
    flex-wrap: wrap;
}

.title-section{
    color: #1d1d1f;
    opacity: .75;
    width: 100%;
    margin-bottom: 20vh;
    letter-spacing: 0.4px;
    font-size: 28px;
}

.left-container-section, .right-container-section{
    width: 50%;
}

.right-container-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-pp{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
}

.img-pp{
    object-fit: cover;
    width: 100%;
}

.ul-info{
    margin-top: 5vh;
    width: 100%;
    list-style: none;
}

.title-ul-info{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}

.label-ul-info{
    opacity: 0.6;
    font-size: 16px;
    line-height: 30px;
}

.li-ul-info{
    padding-left: 2ch;
    font-size: 18px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    letter-spacing: 0.9px;
    line-height: 30px;
    margin-top: 3vh;
}

.date-info{
    font-size: 14px;
    opacity: 0.8;
}

.box-self-info, .box-objectif, .box-competences{
    width: 75%;
    padding: 64px;
    background-color: white;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid hsla(0,0%,51.4%,.16);
    margin-bottom: 5vh;
}

.title-box{
    width: 100%;
    margin-bottom: 5vh;
    font-size: 30px;
    opacity: 0.8;
    letter-spacing: 0.7px;
}

.text-right-container-section{
    line-height: 1.8rem;
    font-size: 18px;
    letter-spacing: 0.9px;
}

.ul-competences{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label-ul-competence{
    width: 100%;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 1vh;
}

.title-cat-competence{
    font-size: 19px;
    opacity: 0.6;
    font-weight: normal;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.li-ul-competence{
    margin-left: 2ch;
    width: 90%;
    height: 2vh;
    background-color: #f7f7f7;
    border-radius: 28px;
    overflow: hidden;
    border: 1px solid #e2e2e2;
    margin-bottom: 3vh;
}

.percent-line{
    height: 100%;
    width: var(--value);
    background: linear-gradient(to right, rgb(133, 236, 247), rgb(150, 59, 167));
    border-radius: 28px;
}

.table-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-project{
    width: 45%;
    height: 400px;
    border: 1px solid hsla(0,0%,51.4%,.16);
    border-radius: 28px;
    overflow: hidden;
}

.img-project{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-form{
    border-radius: 28px;
    background-color: white;
    border: 1px solid hsla(0,0%,51.4%,.16);
    padding: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 10vh;
}

.form-line{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}

input, textarea:focus{
    outline: none;
}

input[name="firstname"], input[name="name"], input[name="mail"]{
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(131, 131, 131, 0.438);
}

input[name="firstname"], input[name="name"]{
    width: 30%;
    margin-right: 5ch;
}

input[name="mail"]{
    width: 80%;
}

textarea[name="message"]{
    width: 100%;
    padding: 10px;
    font-family: arial,sans-serif;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(131, 131, 131, 0.438);
}

input[type="submit"]{
    padding: 10px;
    border-radius: 28px;
    border: none;
    font-size: 18px;
    margin: auto;
    background: -webkit-linear-gradient(45deg, rgb(133, 236, 247), rgb(150, 59, 167));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type="submit"]:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.3s;
}